<a href="{{ "/posts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">posts</h2></a>
<a href="{{ "/whoami" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">who</h2></a>
<a href="{{ "/contacts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">contacts</h2></a>
<a href="{{ "/music" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">music</h2></a>
<a href="{{ "/images" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">images</h2></a>
