<a href="{{ "/posts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">posts</h2></a>
<a href="{{ "/who" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">whoami</h2></a>
<a href="{{ "/idk" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">dev</h2></a>
<a href="{{ "/contacts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">contacts</h2></a>
<a href="{{ "/a" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">rss</h2></a>
